{% extends 'base.html' %}

{% block title %}
    Главная страница
{% endblock %}


{% block content%}
<h1> Главная страница </h1>
<li>Lorem ipsum dolor sit amet.</li>
<li>Nihil quia repellat reprehenderit voluptatibus?</li>
<li>Consequatur cum laudantium rem rerum?</li>
<li>Accusantium aut facilis impedit magni.</li>
<li>Accusantium excepturi impedit iste veritatis.</li>
<li>Aliquam consequatur laboriosam quam suscipit.</li>
<li>Consequatur labore quam sed sunt!</li>
<li>Accusantium commodi fugiat nemo officiis?</li>
<li>Hic rerum saepe sit voluptas!</li>
<li>Facere incidunt possimus quasi quod!</li>
<li>Alias enim in maxime nisi.</li>
<li>Blanditiis dignissimos dolorem sint tempore.</li>
<li>Magni molestias nemo optio praesentium.</li>
<li>Dignissimos ipsam praesentium quidem rem.</li>
<li>Cupiditate ipsam perspiciatis placeat sequi!</li>
<li>At inventore nemo saepe ullam?</li>
<li>Facilis minima mollitia quas recusandae!</li>
<li>Ad in ipsam nam nihil.</li>
<li>Aliquid fugiat laboriosam quibusdam voluptatibus.</li>
<li>Assumenda distinctio maxime optio possimus.</li>
<li>Delectus nesciunt quos sint soluta.</li>
<li>Harum iusto quasi repellendus temporibus.</li>
<li>Eaque esse ipsam totam voluptates?</li>
<li>Ad molestias pariatur porro recusandae.</li>
<li>Cupiditate iste odit quasi soluta?</li>
<li>A minus nam nostrum officia.</li>
<li>Cumque ea earum perferendis quod!</li>
<li>At eligendi repellendus tenetur vitae.</li>
<li>Autem facere fugiat fugit odit.</li>
<li>Debitis esse labore maxime quaerat?</li>
<li>Aspernatur explicabo nesciunt nihil veritatis.</li>
<li>Blanditiis cupiditate laboriosam necessitatibus numquam.</li>
<li>Culpa quo repellendus tenetur ullam?</li>
<li>Enim facilis maxime modi sit.</li>
<li>Dolore ducimus quas sed voluptas?</li>
<li>Aliquam inventore odio suscipit voluptatem.</li>
<li>Adipisci placeat quod ullam voluptate!</li>
<li>Amet harum illum recusandae repellat.</li>
<li>Ipsam libero nesciunt pariatur provident?</li>
<li>Eos fugiat maxime quibusdam voluptatem.</li>
<li>Molestiae quisquam repellendus veniam voluptatem?</li>
<li>Dolores eveniet harum itaque nesciunt!</li>
<li>Animi eum sint ut voluptatem.</li>
<li>Aliquid autem enim modi quidem.</li>
<li>Adipisci debitis iste reiciendis vero?</li>
<li>Architecto culpa omnis saepe veritatis.</li>
<li>Aliquam autem beatae et quo?</li>
<li>Enim error natus nihil repellat.</li>
<li>Corporis eos magnam pariatur quasi.</li>
<li>Alias commodi culpa exercitationem sapiente!</li>
<li>Aspernatur dicta et ut voluptate.</li>
<li>Delectus ducimus expedita ipsum voluptas.</li>
<li>Dolore fuga laboriosam minima unde!</li>
<li>Aliquid blanditiis consectetur doloremque reprehenderit.</li>
<li>Consectetur eum iusto officiis tenetur!</li>
<li>Aliquid facilis fugit quae rerum!</li>
<li>Debitis natus obcaecati tempora vero.</li>
<li>Aliquid atque fugiat perspiciatis vel!</li>
<li>Nemo non omnis quibusdam voluptates!</li>
<li>Assumenda dolore doloremque totam vel.</li>
<li>Assumenda error libero nesciunt temporibus.</li>
<li>At maxime nemo quos veritatis!</li>
<li>At dolore fugiat ipsam odio?</li>
<li>Aliquid est fuga maxime sit.</li>
<li>Aliquam et incidunt nulla veritatis.</li>
<li>Aliquid dolorem facilis ipsa perferendis?</li>
<li>Eius iure quia reprehenderit sequi.</li>
<li>Ducimus ipsa ipsum maxime molestias.</li>
<li>Alias est fugit ratione repudiandae!</li>
<li>Ab consequuntur perspiciatis sit suscipit.</li>
{% endblock %}